/* RESET + GLOBAL */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0e0e0e;
  color: #f5f5f5;
}

body.booking-visible {
  padding-top: 80px;
}
